{% extends 'myapp/base.html' %}
<html>
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>welcome  to Gallery Page...!!</title>
</head>
<body>
{% block content %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    body{
    background-color:pink;
    font-size:20px;
    }
    img{
    border:3px black solid;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/soft.jpg' %}" style="width:100%"; height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/AI.jpg' %}" style="width:100%"; height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/python.png' %}" style="width:100%"; height="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static 'images/django.png' %}" style="width:100%"; height="100%">
        </div>
    </div>
</div>
<h3>welcome  to Gallery Page...!</h3>
{% endblock %}
</body>
