.cls1{
    text-align:center;
}
ul{
float:right;
margin-top:-px;
}
ul li{
list-style-type:none;
display:inline-block;
}
ul li a{
text-decoration:none;
border:2px blue solid;
padding:5px 20px;
margin-right:50px;
font-size:20px;
background-color:mediumorchid;
color:white;
}
ul li a:hover{
 background-color:red;
color:black;
border-radius:20px;
}
footer{
position:fixed;
width:100%;
bottom:0;
text-align:center;
backgound-color:red;
color:white;
}
header{
background-color:red;
color:white;
}
